<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Noto+Sans+Arabic&family=Roboto+Mono&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <nav class="navbar">
         
      <div class="navcontiner">
        
        <div class="navcontent">
            <div class="logo">
                logo
            </div>
            <svg id="show" class="ham hamRotate ham4 show-modal" viewBox="0 0 100 100" width="50" onclick="this.classList.toggle('active')">
              <path
                    class="line top"
                    d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
              <path
                    class="line middle"
                    d="m 70,50 h -40" />
              <path
                    class="line bottom"
                    d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
            </svg>
          
      
            <ul class="navcont">
                <li>انشئ متجرك الان</li>
                <li>الاسعار</li>
                <li>عنا  </li>
                <li>تسجيل الدخول  </li>
                <li>الباقات</li>
                <li>الرئيسية</li>
            </ul>
        </div>

      </div>
        

    </nav>













































    <div class="bottom-sheet">
        <div class="sheet-overlay"></div>
        <div class="content">
          <div class="headersheet">
            <div class="drag-icon"><span></span></div>
          </div>
          <div class="body">
            <div class="categorycontent">

              <ul class="navmobileview">
                <li class="bttnaccount">✨انشئ متجرك الان</li>
                <li>تسجيل الدخول  </li>
                <li>تواصل مع الدعم</li>
                <li>الاسعار</li>
                <li>عنا  </li>
                <li>الرئيسية</li>
            </ul>
          </div>
            </div>
        </div>
      </div>
    </div>

    </div>




    
    <script src="scripts/scripts.js"></script>
</body>
</html>